<html>
    <body>
        <pre>
            Hello,
            Thank you for your interest in <%= schoolName %>. 
            We have modernized our enrollment process. 
            Please click on the link below to begin creating a parent account and then enrolling your child.
            <%= registrationLink %>
            Thank you,
            Administration Team
        </pre>
    </body>
</html>