Subject: Administrator Account Invitation
<html>
    <body>
        <pre>
Hello,

Your administrator has been created. To get started using the school administration system, please confirm your account below:

<button href="{{registrationLink}}">Confirm your account</button>
For your reference, your username is {{email}} for logging in.

Thanks,
School Administration Team

If you’re having trouble clicking the confirm account button, copy and paste the URL below into your web browser.

{{registrationLink}}

</pre>
    </body>
</html>